<div class="grid-x">
  <div class="cell">
    {{#if data }}
      {{#if (compare type '==' 'quarter') }}
        {{> base/tabulator-tree}}
      {{else}}
        {{> base/tabulator tableId = tableId }}
      {{/if}}
    {{else}}
      <p>Data is not ready</p>
    {{/if}}
  </div>
</div>
