<div class="card ytd-card text-center">
  <div class="card-divider align-center">
    <span class="title"><i class="far fa-calendar-alt icon"></i> 2020</span>
  </div>
  <div class="card-section">
    <div class="grid-x">
      <div class="cell auto">
        <div class="metric">
          <span class="value">{{numberWithCommas data.emails_sent}}</span>
          <span class="tag">EMAILS SENT</span>
        </div>
      </div>

      <div class="cell auto">
        <div class="metric">
          <span class="value">{{numberWithCommas data.transaction}}</span>
          <span class="tag">TRANSACTION</span>
        </div>
      </div>

      <div class="cell auto">
        <div>
          <span class="value">{{formatMoney data.revenue}}</span>
          <span class="tag">REVENUE</span>
        </div>
      </div>
    </div>
  </div>
</div>

