{{#if redirect_url}}
<div class="login-wrapper">
  <h1>Login</h1>
  <p>Click on either of the button below to login via AWS Cognito and get your oauth token.</p>
  <div class="grid-x grid-margin-x align-center">
    <div class="cell shrink">
      <a href="{{redirect_url}}" class="button hollow">GET 1-HOUR ACCESS GRANT<br><small>Implicit Grant</small></a>
    </div>
    <div class="cell shrink">
      GET 30-DAYS ACCESS GRANT<br><small>Auth Code Grant</small><br>
      <input id="username.authCodeGrant" name="username.authCodeGrant" placeholder="Your AWS Cognito user name" size="30">
      <button class="button" id="btnAuthCodeGrant" name="btnAuthCodeGrant" onclick="getAuthCodeToken()">Go</button>
    </div>
  </div>
</div>
<script>
  function getAuthCodeToken() {
    let x = document.getElementById("username.authCodeGrant");
    if (x.value === "") { alert("User name cannot be empty"); }
    else {
      document.cookie = `AWSCognito_username=${x.value}; path=/; expires=Mon, 01 Jan 2100 00:00:00 UTC`;
      window.location.replace("{{{auth_code_redirect_url}}}");
    }
  }
</script>
{{else}}
<script src="/js/lib/ajaxCall.js"></script>
<script src="/js/feature/auth.js"></script>
<script>
  passToken(window.location.hash);
</script>
{{/if}}