<div class="grid-container-full">
  <div class="main-wrapper text-center">
    {{> base/logo additional_class='gray'}}
    <div class="grid-container text-center">
      {{> (lookup . 'body_content') }}
    </div>
  </div>
</div>