<div class="grid-container full">
  <div class="main-wrapper" id="catalog">
    {{> components/dashboard/header headerTitle='Not Authorized'}}
    <div class="nav-wrapper">
    </div>
    <section class="body-content">
      <div class="main">
        {{> base/message status='error' content='You are not authorized to view this page! Contact the site administrator if you think that this is a mistake' }}
      </div>
    </section>
  </div>
</div>