.body-content {
  margin-top: 3rem;
  padding-left: rem-calc(265);
  padding-right: rem-calc(30);
}

.page-title {
  text-transform: capitalize;
}

.login-wrapper {
  background: $light-gray;
  padding: 3rem 0;
}